<div ng-controller="LoginModalController as vm">
    <script type="text/ng-template" id="login-modal.html">
        <div class="modal-header">
            <h3 class="modal-title">Im a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in vm.items">
                    <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ vm.item }}</a>
                </li>
            </ul>
            Selected: <b>{{ vm.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="vm.open()">Open me!</button>
    <button type="button" class="btn btn-default" ng-click="vm.open('lg')">Large modal</button>
    <button type="button" class="btn btn-default" ng-click="vm.open('sm')">Small modal</button>
    <div ng-show="selected">Selection from a modal: {{ vm.selected }}</div>
</div>
