<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a ui-sref="site.home">
        <img src="assets/images/bom-vizinho-logo-square.png" class="logo-small" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="site.home">{{ vm.labels.home }}</a></li>
        <li><a ui-sref="site.about">{{ vm.labels.about }}</a></li>
        <li><a ng-href="#">{{ vm.labels.contact }}</a></li>
        <li><a ng-href="#" ng-click="vm.openModal()">{{ vm.labels.login }}</a></li>
      </ul>
    </div>
  </div>
</nav>
